.board__box {
  width: 100%;
  border-radius: 5px;
}
.board {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin: 0 auto;
  perspective: 1000px;
}
@media (max-width: 900px) {
  .board {
    grid-template-columns: 250px 250px;
  }
}
@media (max-width: 600px) {
  .board {
    grid-template-columns: 250px;
  }
}
